body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("../images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-form {
    background: rgba(255, 255, 255, 0.15);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    color: white;
    box-sizing: border-box;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input,
.input-group label {
    width: 100%;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5f9ea0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.extra-links a {
    color: #add8e6;
    text-decoration: none;
}

.extra-links a:not(:last-child) {
    margin-right: 10px;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    color: white; /* Adjust color to fit your theme */
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


